.card { border: none; }

form ul { list-style: none; padding-left: 0; }
form ul li { margin-bottom: 0.5rem; }
form input[type="radio"], form input[type="checkbox"] { margin-right: 0.5rem; }
form textarea { width: 100%; }
